<html ng-app="app">
<head>
  <title>Sales Management</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>

<ng-view></ng-view>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

<script type="text/ng-template" id="/items.html">
<h1>Items for sale</h1>
  <ul>
    <li ng-repeat="item in items">
    	<p>${{item.price}} |
      <a href="#/{{item._id}}">{{item.name}}</a> |
      {{item.description}}</p>
      <p><span class='status'>{{item.sold ? 'Item is sold out' : 'Item is available'}}</span></p>
      <button ng-click="remove($index)">Remove From Market</button>
    </li>
  </ul>
  <form>
    <h2>Add a new item</h2>
    <ul>
    <li><label>Item Name</label>
    <input type="text" name="name" ng-model="newItem.name"></li>
    <li><label>Item Description</label>
    <input type="text" name="description" ng-model="newItem.description"></li>    
    <li><label>Item Price</label>
    <input type="number" step="0.01" name="price" ng-model="newItem.price"></li>
    <button ng-click="save()">Add to list</button>
    </ul>
  </form>
</script>

<script type="text/ng-template" id="/itemDetails.html">
  <h1>{{ item.name }}</h1>
  <h2>{{ item.description}}</h2>
  <p>Sale Price: ${{ item.price }}</p>
  <form>
    <h3>Update this item</h3>
    <ul>
    <li><label>New Item Name</label>
    <input type="text" name="name" ng-model="item.name" placeholder="item.name"></li>
    <li><label>Item Description</label>
    <input type="text" name="description" ng-model="item.description" placeholder="item.description"></li>    
    <li><label>Item Price</label>
    <input type="number" step="0.01" name="price" ng-model="item.price" placeholder="item.price"></li>
    </ul>
  </form>
  Sold Out? <input type="checkbox" ng-model="item.sold"><br>

  <button ng-click="update()">Update Item</button>
  <button ng-click="remove()">Remove Item From Marketplace</button>
  <a href="/">Cancel</a>
</script>

<script>
  angular.module('app', ['ngRoute', 'ngResource'])

    .factory('Items', ['$resource', function($resource){
    	return $resource('/items/:id', null, {
    		'update': {method: 'PUT'}
    	});
    }])

    .controller('ItemController', ['$scope', 'Items', function ($scope, Items) {
    	$scope.items = Items.query();
      
      $scope.save = function(){
        if(!$scope.newItem || $scope.newItem.length < 1) return;
        var item = new Items({ name: $scope.newItem.name, 
                               description: $scope.newItem.description, 
                               sold: false, 
                               price: $scope.newItem.price});

        item.$save(function(){
          $scope.items.push(item);
          $scope.newItem = "";
        });
      }

      $scope.remove = function(index){
      	var item = $scope.items[index];
        var result = confirm("Are you sure you want to remove this item from the market?")
        if (result) {
      	  Items.remove({id: item._id}, function(){
      		  $scope.items.splice(index, 1);
      		  });
          }	
      	}
    }])

  .controller('ItemDetailsCtrl', ['$scope', '$routeParams', 'Items', '$location', function ($scope, $routeParams, Items, $location) {
    $scope.item = Items.get({id: $routeParams.id });

    $scope.update = function(){
      Items.update({id: $scope.item._id}, $scope.item, function(){
        $location.url('/');
      });
    }

    $scope.remove = function(){
      var result = confirm("Are you sure you want to remove this item from the market?")
      if (result) {
        Items.remove({id: $scope.item._id}, function(){
          $location.url('/');
        });
      }  
    }
  }])
    .config(['$routeProvider', function ($routeProvider) {
      $routeProvider
        .when('/', {
          templateUrl: '/items.html',
          controller: 'ItemController'
        })
        .when('/:id', {
          templateUrl: '/itemDetails.html',
          controller: 'ItemDetailsCtrl'
        })
    }]);
</script>

</body>
</html>