body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
	list-style: none;
	padding-left: 0px
}

li {
	padding: 5px 0;
}

form {
	border-top: 2px dashed #000;
}

form ul {
	list-style: none;
	padding-left: 0px;
}

form label {
	display: block;
}

form input {
	margin: 10px 0;
	width: 100%
}

.status {
	margin: 5px 0;
	font-style: italic;
}

button {
	margin-top: 5px;
}